:root {
  --accent: #d6ad60;
  --bg-light: #ffffff;
  --bg-dark: #000000;
  --text-light: #000000;
  --text-dark: #ffffff;
  --font: "Inter Tight", sans-serif;
  --transition: 0.5s cubic-bezier(0.57, -0.01, 0.21, 0.89);;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  transition: background var(--transition), color var(--transition);
}

body {
  background: var(--bg-light);
  color: var(--text-light);
  padding: 2rem;
  min-height: 100vh;
}

body.dark {
  background: var(--bg-dark);
  color: var(--text-dark);
}

.container {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

h1 {
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: lowercase;
}

#themeToggle {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

.search {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.search input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid var(--accent);
  background: transparent;
  color: inherit;
}

.search button {
  padding: 0.5rem;
  border: 1px solid var(--accent);
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.weatherIcon {
  width: 100px;
  margin-bottom: 1rem;
}

.city, .temp {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.humidity, .wind {
  font-size: 0.9rem;
}

.error {
  color: red;
  font-size: 0.9rem;
  display: none;
}
